@import url('https://fonts.googleapis.com/css?family=Muli:400,400i,700,700i');
body{
  font-family: 'Muli', sans-serif;
  background:#ddd;
}

.shell{
  padding:80px 0;
}

.navbar-brand {
  letter-spacing: 3px;
  color: #c24244;
  transition: color 0.3s ease-in-out;
}

.navbar-brand:hover {
  color: #ff6b6c; /* Cambia el color al pasar el ratón */
}

.navbar-nav .nav-item:hover {
  background-color: #f8f9fa; /* Cambia el color de fondo al pasar el ratón sobre los elementos li */
  transition: background-color 0.3s ease-in-out;
}

.navbar-nav .nav-item:hover .nav-link {
  color: #ff6b6c; /* Cambia el color del texto al pasar el ratón sobre los elementos li */
}

.navbar-nav .nav-item {
  transition: background-color 0.3s ease-in-out;
}

.navbar-scroll .nav-link,
.navbar-scroll .fa-bars {
  color: #7f4722;
}

.navbar-scrolled .nav-link,
.navbar-scrolled .fa-bars {
  color: #7f4722;
}

.navbar-scrolled {
  background-color: #ffede7;
}

.content-container {
  padding-top: 100px; /* Ajusta este valor al tamaño de la altura de tu navbar */
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* This will center the children horizontally */
    justify-content: center; /* This will center the children vertically */
    height: 100vh; /* This will take the full height of the viewport */
    text-align: center; /* Ensures that the text within is centered */
}

.main-container > h1 {
    margin-bottom: 20px; /* Add some space between the h1 and the shopping cart container */
    letter-spacing: 3px;
    color: #c24244;


    /* Add any additional styling you want for the h1 */
}

.main-container > h1:hover {
  color: #ff6b6c;
}

.shopping-cart-container {
    border: 2px solid #ccc;
    padding: 40px;
    margin-bottom: 20px; /* Ensures some space below the container, adjust as needed */
    max-width: 800px;
    height: 50vh; /* Half the height of the viewport */
    border-radius: 10px;
    background-color: #ffede7;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Aligns the inner content horizontally */
}

.shopping-cart-container h2 {
    color: #ff6b6c; /* Adjust color as needed */
}
.shopping-cart-container h2:hover {
    color: #c24244; /* Adjust color as needed */
}


.cart-button {
    display: inline-block;
    padding: 15px 30px; /* Increased padding for a larger button */
    text-decoration: none;
    background-color: #ffede7; /* Solid background color for the button */
    background: rgba(255,255,255,0.5);
    color: #333; /* Text color for the button */
    border: 1px solid #ccc; /* Border to define the edges of the button */
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2); /* Shadow to make it pop like a button */
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.cart-button:hover {
    background-color: #f8f9fa; /* Lighter color on hover */
    box-shadow: 0 4px 8px rgba(0,0,0,0.3); /* Larger shadow on hover for a "lifting" effect */
}

/* Add responsive design for the images */
.store-logo {
    max-width: 80%; /* Limit the size of the logo within its container */
    height: auto;
    margin-bottom: 10px; /* Add some space below the logo */
}

.selected {
    background-color: #ff6b6c;
}
.wsk-cp-product{
  background:#fff;
  padding:15px;
  border-radius:6px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  position:relative;
  margin:20px auto;
}
.wsk-cp-img{
  position:absolute;
  top:5px;
  left:50%;
  transform:translate(-50%);
  -webkit-transform:translate(-50%);
  -ms-transform:translate(-50%);
  -moz-transform:translate(-50%);
  -o-transform:translate(-50%);
  -khtml-transform:translate(-50%);
  width: 100%;
  padding: 15px;
  transition: all 0.2s ease-in-out;
}
.wsk-cp-img img{
  width:100%;
  transition: all 0.2s ease-in-out;
  border-radius:6px;
}
.wsk-cp-product:hover .wsk-cp-img{
  top:-40px;
}
.wsk-cp-product:hover .wsk-cp-img img{
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
.wsk-cp-text{
  padding-top:150%;
}
.wsk-cp-text .category{
  text-align:center;
  font-size:12px;
  font-weight:bold;
  padding:5px;
  margin-bottom:45px;
  position:relative;
  transition: all 0.2s ease-in-out;
}
.wsk-cp-text .category > *{
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  -khtml-transform: translate(-50%,-50%);

}
.wsk-cp-text .category > a > span{
  padding: 12px 30px;
  border: 1px solid #313131;
  background:#212121;
  color:#fff;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  border-radius:27px;
  transition: all 0.05s ease-in-out;

}
.wsk-cp-product:hover .wsk-cp-text .category > a > span{
  border-color:#ddd;
  box-shadow: none;
  padding: 11px 28px;
}
.wsk-cp-product:hover .wsk-cp-text .category{
  margin-top: 0px;
}
.wsk-cp-text .title-product{
  text-align:center;
}
.wsk-cp-text .title-product h3{
  font-size:20px;
  font-weight:bold;
  margin:15px auto;
  //overflow: hidden;
  //  white-space: nowrap;
  //  text-overflow: ellipsis;
  width:100%;
}
.wsk-cp-text .description-prod p{
  margin:0;
}
/* Truncate */
.wsk-cp-text .description-prod {
  text-align:center;
  width: 100%;
  height:62px;
  overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  margin-bottom:15px;
}
.card-footer{
  padding: 25px 0 5px;
  border-top: 1px solid #ddd;
}
.card-footer:after, .card-footer:before{
  content:'';
  display:table;
}
.card-footer:after{
  clear:both;
}

.card-footer .wcf-left{
  float:left;

}

.card-footer .wcf-right{
  float:right;
}

.price{
  font-size:18px;
  font-weight:bold;
}
/*
a.buy-btn{
  display:block;
  color:#212121;
  text-align:center;
  font-size: 18px;
  width:35px;
  height:35px;
  line-height:35px;
  border-radius:50%;
  border:1px solid #212121;
  transition: all 0.2s ease-in-out;
}
*/

input.quantity{
  display:block;
  color:#212121;
  text-align:center;
  font-size: 18px;
  width:35px;
  height:35px;
  line-height:35px;
  border-radius:50%;
  border:1px solid #212121;
  transition: all 0.2s ease-in-out;
}

/* Ocultar las flechas en el campo de entrada de tipo número */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield; /* Firefox */
}

a.buy-btn:hover , a.buy-btn:active, a.buy-btn:focus{
  border-color: #FF9800;
  background: #FF9800;
  color: #fff;
  text-decoration:none;
}
.wsk-btn{
  display:inline-block;
  color:#212121;
  text-align:center;
  font-size: 18px;
  transition: all 0.2s ease-in-out;
  border-color: #FF9800;
  background: #FF9800;
  padding:12px 30px;
  border-radius:27px;
  margin: 0 5px;
}
.wsk-btn:hover, .wsk-btn:focus, .wsk-btn:active{
  text-decoration:none;
  color:#fff;
}
.red{
  color:#F44336;
  font-size:22px;
  display:inline-block;
  margin: 0 5px;
}
@media screen and (max-width: 991px) {
  .wsk-cp-product{
    margin:40px auto;
  }
  .wsk-cp-product .wsk-cp-img{
  top:-40px;
}
.wsk-cp-product .wsk-cp-img img{
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
  .wsk-cp-product .wsk-cp-text .category > a > span{
  border-color:#ddd;
  box-shadow: none;
  padding: 11px 28px;
}
.wsk-cp-product .wsk-cp-text .category{
  margin-top: 0px;
}
a.buy-btn{
  border-color: #FF9800;
  background: #FF9800;
  color: #fff;
}