<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Productos</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" th:href="@{/static/productList.css}" />
</head>
<body>
<h1>Productos Seleccionados</h1>
<ul>
    <li th:each="product : ${selectedProducts}">
        <!-- Aquí puedes mostrar detalles de cada producto utilizando productId -->
        <span th:text="${product.idProduct} + ' ' + ${product.idSupermarket}"></span>
    </li>
</ul>

<div class="row">
    <div class="col-md-8">
        <canvas id="barChartTotalHistoric"></canvas>
    </div>
    <div class="col-md-4">
        <canvas id="pieTotalShoppingChart"></canvas>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <canvas id="hi2storicChart"></canvas>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script th:inline="javascript">
    var hiperdinoTotalBarData = /*[[${hiperdinoTotalChartData}]]*/ [];
    var mercadonaTotalBarData = /*[[${mercadonaTotalChartData}]]*/ [];
    var tuTrebolTotalBarData = /*[[${tuTrebolTotalChartData}]]*/ [];

    var ctxHistoricChart = document.getElementById('barChartTotalHistoric').getContext('2d');

    // Crea el objeto de configuración del gráfico
        var historicChartConfig = {
            type: 'bar', // Tipo de gráfico (puedes cambiarlo según tus necesidades)
            data: {
                labels: hiperdinoTotalBarData.labels || mercadonaTotalBarData.labels || tuTrebolTotalBarData.labels,
                datasets: [{
                    label: 'Hiperdino',
                    data: hiperdinoTotalBarData.data,
                },
                {
                    label: 'Mercadona',
                    data: mercadonaTotalBarData.data,
                },
                {
                    label: 'Tu Trebol',
                    data: tuTrebolTotalBarData.data,
                }]
                // Puedes agregar más datasets si tienes más datos
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                },
                responsive: true,
                plugins: {
                  legend: {
                    position: 'top',
                  },
                  title: {
                    display: true,
                    text: 'HISTORICO COMPRA TOTAL'
                  }
                }
            }
        };

        // Crea el gráfico
        var myChart = new Chart(ctxHistoricChart, historicChartConfig);
</script>
<script th:inline="javascript">
    var hiperdinoTotalPieData = /*[[${hiperdinoTotalChartData}]]*/ [];
    var mercadonaTotalPieData = /*[[${mercadonaTotalChartData}]]*/ [];
    var tuTrebolTotalPieData = /*[[${tuTrebolTotalChartData}]]*/ [];

    var ctxTotalChart = document.getElementById('pieTotalShoppingChart').getContext('2d');

    // Crea el objeto de configuración del gráfico
        var totalChartConfig = {
            type: 'pie',
            data: {
                labels: [ 'Hiperdino', 'Mercadona', "Tu Trebol"],
                datasets: [{
                    label: 'Totales',
                    data: [hiperdinoTotalPieData.data[0],mercadonaTotalPieData.data[0],tuTrebolTotalPieData.data[0]]
                }]
            },
            options: {
                responsive: true,
                plugins: {
                  legend: {
                    position: 'top',
                  },
                  title: {
                    display: true,
                    text: 'PORCENTAJE TOTAL DE COMPRA'
                  }
                }
            }
        };

        // Crea el gráfico
        var myChart = new Chart(ctxTotalChart, totalChartConfig);
</script>
</body>
</html>
