<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Productos</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" th:href="@{/static/productList.css}" />
</head>
<body>
<h1>Productos Seleccionados</h1>
<ul>
    <li th:each="product : ${selectedProducts}">
        <!-- Aquí puedes mostrar detalles de cada producto utilizando productId -->
        <span th:text="${product.idProduct} + ' ' + ${product.idSupermarket}"></span>
    </li>
</ul>
<div>
    <canvas id="shoppingChart"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script th:inline="javascript">
    var hiperdinoData = /*[[${hiperdinoChartData}]]*/ [];
    var mercadonaData = /*[[${mercadonaChartData}]]*/ [];
    var tuTrebolData = /*[[${tuTrebolChartData}]]*/ [];

    var ctx = document.getElementById('shoppingChart').getContext('2d');

    // Crea el objeto de configuración del gráfico
        var chartConfig = {
            type: 'bar', // Tipo de gráfico (puedes cambiarlo según tus necesidades)
            data: {
                labels: hiperdinoData.labels || mercadonaData.labels || tuTrebolData.labels,
                datasets: [{
                    label: 'Hiperdino',
                    data: hiperdinoData.data,
                },
                {
                    label: 'Mercadona',
                    data: mercadonaData.data,
                },
                {
                    label: 'Tu Trebol',
                    data: tuTrebolData.data,
                }]
                // Puedes agregar más datasets si tienes más datos
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        };

        // Crea el gráfico
        var myChart = new Chart(ctx, chartConfig);


</script>
</body>
</html>
