<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Página de Inicio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/static/project.css}" />
</head>
<body>

<div class="main-container">
    <h1>AhorroCesta</h1>
    <div class="shopping-cart-container">
        <h2 class="text-center">Supermercados</h2>
        <div class="container text-center">
            <div class="row">
                <div class="col-md-4">
                    <a th:href="@{/hiperdino/products}" class="cart-button">
                        <img th:src="@{static/img/hiperdinoLogo.svg}" alt="Hiperdino" class="store-logo">
                    </a>
                </div>
                <div class="col-md-4">
                    <a th:href="@{/mercadona/products}" class="cart-button">
                        <img th:src="@{static/img/mercadonaLogo.svg}" alt="Mercadona" class="store-logo">
                    </a>
                </div>
                <div class="col-md-4">
                    <a th:href="@{/tutrebol/products}" class="cart-button">
                        <img th:src="@{static/img/tutrebolLogo.svg}" alt="Tu Trebol" class="store-logo">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>




</body>
</html>
