<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Productos</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/static/productList.css}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
</head>
<body>
<div class="container text-center">
    <h1>Lista de Productos de [[${supermarketName}]]</h1>
<!--    <span>Create With <i class="zmdi zmdi-favorite red"></i>  By: <strong>Deni Kurniawan</strong> From: <i><a href="http://blog.wingerdstok.com" class="wsk-btn">Wingerdstok</a></i></span>-->
    <p>ultima vez actualizado el: </p>
    <a th:href="@{/mercadona/update}" class="wsk-btn">Actualizar BD</a>
</div>

<div class="shell">
    <div class="container">
        <div class="row">
            <th:block th:each="producto, iterStat : ${products}">
                <div class="col-md-3">
                    <div class="wsk-cp-product">
                        <div class="wsk-cp-img">
                            <!-- Verifica si producto.imageUrl está vacío -->
                            <img th:if="${producto.urlProduct ne ''}" th:src="${producto.imageUrl}" alt="Product" class="fixed-size-image" />
                            <!-- Si producto.imageUrl está vacío, carga la imagen predeterminada -->
                            <img th:unless="${producto.urlProduct ne ''}" th:src="@{/static/img/mercadona.png}" alt="Default Product" class="fixed-size-image" />
                        </div>
                        <div class="wsk-cp-text">
                            <div class="category" th:if="${producto.urlProduct ne ''}">
                                <a th:href="'https://tienda.mercadona.es/api/products/' + ${producto.idBySupermarket}" th:text="${producto.idBySupermarket}" target="_blank">Enlace</a>
                            </div>
                            <div class="title-product">
                                <h3 th:text="${producto.name}"></h3>
                            </div>
                            <div class="card-footer">
                                <div class="wcf-left"><span class="price">[[${producto.price}]]€</span></div>
                                <div class="wcf-right"><a href="#" class="buy-btn"><i class="zmdi zmdi-shopping-basket"></i></a></div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Cierra la fila cada vez que hay 4 productos o es el último -->
                <div th:if="${iterStat.index % 4 == 3 or iterStat.last}" class="clearfix"></div>
            </th:block>
        </div>
    </div>
</div>





<!-- Script para gestionar la selección de productos -->
<script>
    // Estructura de datos para almacenar productos seleccionados
    var productosSeleccionados = [];

    // Función para manejar la selección de productos
    function seleccionarProducto(row, productId) {
        // Cambiar el color de fondo para indicar selección
        row.classList.toggle('selected');

        // Verificar si el producto ya está en la lista
        var index = productosSeleccionados.indexOf(productId);

        // Si está en la lista, quitarlo; de lo contrario, agregarlo
        if (index === -1) {
            productosSeleccionados.push(productId);
        } else {
            productosSeleccionados.splice(index, 1);
        }

        // Imprimir en la consola la lista de productos seleccionados (para fines de demostración)
        console.log('Productos seleccionados:', productosSeleccionados);
    }
</script>
</body>
</html>
